---
import CardCounter from '@components/Cart/CardCounter'

const { isLoggedIn, isAdmin } = Astro.locals
---

<nav
  class='container max-w-4xl flex justify-between bg-black text-white py-6 items-center sticky top-0 w-full mix-blend-difference mx-auto'
>
  <h1 class='text-xl font-bold'>
    <a href='/'>AstroStore</a>
  </h1>
  <div class='flex items-center'>
    <ul class='flex items-center space-x-6'>
      <li><CardCounter client:load transition:persist /></li>
      <li class='font-semibold'>
        <a href='/'>Home</a>
      </li>
      {
        isAdmin && (
          <li class='font-semibold'>
            <a href='/admin/dashboard'>Admin</a>
          </li>
        )
      }

      {
        isLoggedIn ? (
          <li id='logout' class='font-semibold'>
            <a href='#'>Salir</a>
          </li>
        ) : (
          <li class='font-semibold'>
            <a href='/login'>Ingresar</a>
          </li>
        )
      }
    </ul>
  </div>
</nav>

<script>
  const { signOut } = await import('auth-astro/client')

  const logoutElem = document.querySelector('#logout') as HTMLLIElement

  logoutElem?.addEventListener('click', async () => {
    await signOut()
    window.location.href = '/'
  })
</script>
